<div class="card-container">
<% @cocktails.each do |cocktail| %>
<div class="card mb-3 w-90">
  <div class="row no-gutters">
      <div class = "card-image">
        <%= cl_image_tag(cocktail.photo.key, height: 50, width: 50, crop: :fill) %>
      </div>
      <div class="col">
        <div class="card-body">
        <a href="<%= cocktail_path(cocktail) %>"><h5 class="card-title"><%= cocktail.name %></h5></a>
        </div>
      </div>
  </div>
</div>
<% end %>
</div>

