<nav class="nav nav-pills nav-justified mb-4 mt-4">
  <%= link_to "List", cocktails_path, class: "nav-item nav-link" %>
  <%= link_to "Add", new_cocktail_path, class: "nav-item nav-link active" %>
  <%= link_to "Favorites", cocktails_path, class: "nav-item nav-link" %>
</nav>