<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">

  <div id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "/cocktails" do %>
          <h1>COCKTAILS</h1>
        <% end %>
      </li>
    </ul>
  </div>

  <%= link_to "/cocktails", class: "navbar-brand" do %>
    <%= image_tag "049-whiskey.png"%>
  <% end %>
</div>
