.card-image {
  background-color: lightgrey;
  height: 60px;
  width: 60px;
  padding: 5px;
}

.card-text a {
   color: #4AAA8F;
}

.card {
  background: #FFFFFF;
  border: 1px solid #D7D9D7;
  box-sizing: border-box;
  box-shadow: 2px 5px 4px 1px rgba(190, 178, 174, 0.15);
  border-radius: 4px;
  height: 60px;
}

.card-body a {
  font-size: 13px;
}