.footer {
    background: white;
    border-top: 1px solid lightgrey;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    color: rgba(0,0,0,0.3);
  }

  .footer-links {
    display: flex;
    align-items: center;
  }

  .footer-links a {
    color: grey;
    opacity: 0.8;
    text-decoration: none;
  }
  .footer-links a:hover {
    opacity: 1;
  }

  .footer .fas {
    font-size: 20px;
  }

  .footer .far {
    font-size: 20px;
  }

  .footer p {
    font-size: 10px;
    padding: 0;
    margin: 0;
  }

  #cocktails-img {
    padding: 0; 
    margin-right: 15px;
  }