.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.navbar {
  height: 15vh;
  background: linear-gradient(93.91deg, #5ACCB3 12.5%, rgba(74, 170, 143, 0) 99.08%), ;
}

.nav-link {
  font-size: 10px;
}

.active h1 {
  margin-left: 10px;
  color: white;
  font-weight: bolder;
  font-size: 16px;
}