.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.navbar {
  min-height: 150px;
  background: linear-gradient(93.91deg, #5ACCB3 12.5%, rgba(74, 170, 143, 0) 99.08%), ;
}

.nav-link {
  font-size: 30px;
}
